@charset "UTF-8";

*{
  box-sizing: border-box;
}

/* -------------------------------------------- */
/* リセットCSS */
/* -------------------------------------------- */
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
	border-radius: 0;
}

input[type="text"],
input[type="submit"],
input[type="button"]{
  -webkit-appearance: none;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
header,main,section,footer, div, ul, li, h1,h2,h3{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.4);
}

.inner{
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding:  0 15px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.15em;
  position: relative;
}

.main-contents{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section{
  // border: 1px solid #000;
  padding: 80px 0 100px;
  position: relative; 
}

footer{
  background-color: #7B7A7A;
  color: #ffffff;
  height: 70px;
  width: 100%;
  margin-top: auto;
}

@media (min-width: 1000px){
  .container{
    display: flex;
  }

  .pc-header{
    // height: 100vh;
    width: 300px;
  }
  
  .main-contents{
    flex: 1;
  }
}

/* -------------------------------------------- */
/* パーツ */
/* -------------------------------------------- */
section::before{
  content: "";
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-heading{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 40px;
  margin-bottom: 100px;
}

.jp-title{
  font-size: 16px;
  display: block;  
}

/* ボタン */
.btn{
  min-width: 200px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  // transition: all 4s ease;
  font-weight: bold;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #333333;
  background: transparent;
  line-height: 1;
}

.btn::before{
  content: "\f0da";
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}

.btn::after{
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: .4s;
  background-color: #D8D8D8;

}

.btn:hover:after {
  top: 0;
  left: 0;
}

.copy{
  
}

@media (min-width: 1000px){
  .section-heading{
    font-size: 80px;
    margin-bottom: 100px;
  }

  .jp-title{
    font-size: 20px;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* sp用header */
.sp-header{
  background-color: #E5E5E5;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
  padding: 9px 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/* header内のサイトタイトル */
.header-site-title{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  position: relative;
  position: fixed;
  top: 2%;
  right: 4%;
  cursor: pointer;
  z-index: 2;
}

/* ハンバーガーメニューのバー */
.bar{
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .5s;
}
    
.bar:nth-of-type(1){
  transform:translate(-50%,10px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-10px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: rotate(-45deg);
  left: 10%;
}

.burger.active .bar:nth-of-type(3){
  transform: rotate(45deg);
  left: 10%;
}

/* bodyにactiveクラスが着いた時 */
body.active{
  overflow-y: hidden;
}

.bar.colorChange{
  background-color: #ffffff;
}

/* ナビメニューにactiveクラスが着いた時 */
#nav.active{
  left: 0;
}

/* pc用header */
.pc-header{
  display: none;
}

@media (min-width: 1000px){
  /* sp用header */
  .sp-header{
    display: none;
  }
  
  /* pc用header */
  .pc-header{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(167, 167, 246);
    padding-top: 90px;

    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  /* header内のサイトタイトル */
  .header-site-title{
    font-size: 18px;
    margin-bottom: 70px;
  }
}

/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
/* スマホのナビメニュー */
.sp-nav{
  background-color: rgb(224, 178, 186);
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  // left: -150%;
  transition: .5s;
  overflow-y: scroll;
  z-index: 1;
}

.sp-nav-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-list{
  font-weight: bold;
  padding: 1em;
  // border: 1px solid #000;

}

.sp-nav-list{
  // padding: 1em;
  // margin-bottom: 40px;
}

/* スクリーン */
#screen{
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
}

@media (min-width: 1000px){
  .pc-nav{
    // display: flex;
    // justify-content: center;
  }

  .cursor{
    opacity: 0;
    transition: all .4s;
    margin-right: 5px;
  }
}

/*-------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mv{
  padding-top: 60px;
  // height: 400px;
  background-color: #ddd;
}
@media (min-width: 1000px){
  
}

/*-------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
@media (min-width: 1000px){
  
}



