@charset "UTF-8";

*{
  box-sizing: border-box;
}

/* -------------------------------------------- */
/* リセットCSS */
/* -------------------------------------------- */
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
	border-radius: 0;
}

input[type="text"],
input[type="submit"],
input[type="button"]{
  -webkit-appearance: none;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
/* font-size */
@function rem($px){
  @return ($px/16) *1rem;
}

$mainColor: #FFFEF8;
$subColor: #ced7dc;
$subColorB: #e6e5ef;
$accentColor: #ffd54d; 

header,main,section,footer, div, ul, li, h1,h2,h3{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.4);
}

.inner{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding: 0 4%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  color: #333333;
  background-color: $mainColor;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.15em;
  position: relative;
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.32)); /* font-size:14px */
}

.container{
  position: relative;
	z-index:1;
  background-color: $mainColor;
}

.main-contents{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%
}

section{
  width: 100%;
  padding: 60px 0 120px;
  position: relative; 
}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-sec{

}

@media (min-width: 575px){
  .inner{
    padding: 0 50px;
  }

  section{
    padding: 90px 0 150px;
  }
}

@media (min-width: 1000px){
  .inner{
    padding: 0 100px;
  }

  .container{
    display: flex;
  }
  
  .main-contents{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: calc(100% - 250px);
  }

  body{
    font-size: rem(16);
  }

  section{
    padding: 140px 0 150px;
  }
}

/* -------------------------------------------- */
/* パーツ */
/* -------------------------------------------- */
.heading{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: calc(2.5rem + ((1vw - 3.75px) * 8)); /* font-size: 40px */
}

/* sectionのタイトル */
.section-heading{
  margin-bottom: 50px;
}

/* sectionタイトルの日本語タイトル */
.jp-title{
  font-size: calc(1rem + ((1vw - 3.75px) * 0.64)); /* font-size: 16px */
  display: block;
}

/* セクションのサブタイトル */
.sub-title{
  font-weight: bold;
  font-size: calc(1.25rem + ((1vw - 3.75px) * 1.28)); /* font-size: 20px */
  margin-bottom: 16px;
}

/* 下線付きのサブタイトル */
.sub-title--border{
  position: relative;
  border-bottom: 3px solid #333;
  display: inline-block;

  &::after{
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px $accentColor;
    bottom: -3px;
    width: 30%;
  }
}

/* sectionの背景 */
.top-page-sec::before{
  content: "";
  width: 100%;
  height: 100px;
  background-color: $subColor;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ボタン */
.btn-wrapper{
  text-align: center;
  border: 2px solid #333333;
  position: relative;
  width: 200px;
  margin: 0 auto;

  &::after{
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: .4s;
    background-color: $accentColor;
  }

  &:hover:after {
    top: 0;
    left: 0;
  }

}

/*ボタンの中身*/
.btn{
  background: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  font-size: rem(16);
  display: inline-block;
  outline: none;
  border: 0px solid #000;
  padding: 20px 10px;
}

.page-heading{
  text-align: center;
  padding: 0 30px 30px;
}

/* パンクズリスト */
.breadcrumbs{
  color: #333;
  padding: 1em 0;
  background-color: $subColor;
  margin-bottom: 30px;

  .breadcrumb_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .fa-angle-right {
      padding: 0 0.5em;
    }
  
    span {
      display: flex;
      align-items: center;
      i{
        margin-right: 0.3em;
      }
    }
  
    a {
      transition: all .4s;
      &:hover{
        opacity: .6;
      }
    }
  }
}

/* RPGのセリフ風枠 */
.rpg-frame{
  background-color: #000;
  width: 100%;
  padding: 6px;
  border-radius: 6px;
}

.rpg-border{
  border: 4px solid #fff;
  border-radius: 4px;
  position: relative;
}

@media (min-width: 575px){
  .section-heading{
    margin-bottom: 90px;
  }

  .top-page-sec::before{
    height: 140px;
  }
  /* パンクズリスト */
  .breadcrumbs{
    margin-bottom: 70px;
  }

}
@media (min-width: 1000px){
  .heading{
    font-size: rem(90);
  }

  .jp-title{
    font-size: rem(20);
  }

  .sub-title{
    font-size: rem(28);
    margin-bottom: 20px;
  }
  
  .top-page-sec::before{
    height: 210px;
  }

  .page-heading{
    padding-bottom: 50px;
  }
}


/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  font-family: 'Montserrat', sans-serif;
}

.sp-header{
  z-index: 2;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title{
  font-size: rem(20);
}

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* ハンバーガーメニューのバー */
.bar{
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .5s;
}
    
.bar:nth-of-type(1){
  transform:translate(-50%,10px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-10px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: rotate(-45deg);
  left: 10%;
}

.burger.active .bar:nth-of-type(3){
  transform: rotate(45deg);
  left: 10%;
}

/* bodyにactiveクラスが着いた時 */
body.active{
  overflow-y: hidden;
}

.bar.colorChange{
  background-color: #ffffff;
}

/* ナビメニューにactiveクラスが着いた時 */
#nav.active{
  left: 0;
}

/* pc用header */
.pc-header{
  display: none;
}

@media (min-width: 575px){

}

@media (min-width: 1000px){
  /* sp用header */
  .sp-header{
    display: none;
  }
  
  /* pc用のheader */
  .pc-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(203, 203, 211);
    background-color: #F3F3F3;
    padding-top: 90px;
    width: 250px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  /* header内のサイトタイトル */
  .site-title{
    font-size: rem(20);
    letter-spacing: 0.1em;
    margin-bottom: 80px;
    padding: 0 20px;
    line-height: 1.5;

    &--link{
      display: inline-block;
    }
  }
}

/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
/* スマホのナビメニュー全体 */
.sp-nav{
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 80%;
  // width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -150%;
  transition: .5s;
  overflow-y: scroll;
  font-size: rem(16);
}

.sp-nav-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ナビのリンク */
.nav-link{
  font-weight: bold;
  margin-bottom: 40px;

  &:first-child{
    padding-top: 0;
  }
}

/* スクリーン */
#screen{
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

@media (min-width: 1000px){
  .cursor{
    opacity: 0;
    transition: all .4s;
    margin-right: 5px;
  }
}

/*-------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mv{
  // padding-top: 60px;
  height: 100vh;
  // background: url('../images/AdobeStock_372717887.jpeg') center / cover no-repeat;
}

.mv::before{
  content:"";
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height: 100vh;
	background:url("../images/AdobeStock_372717887.jpeg") no-repeat center;
	background-size:cover;
}

@media (min-width: 1000px){
  
}

/*-------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works{
  &__item-wrapper{
    width: 100%;
    &--text-align{
      text-align: center;
    }
  }

  &__item-wrapper{
    margin-bottom: 80px;
  }
  
  &__text{
    margin-bottom: 20px;
  }

  &__item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  }

  &__item{
    width: 100%;
    margin-bottom: 40px;
  }
  
  &__item-image-wrapper{
    aspect-ratio: 4 / 3;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 16px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  
  &__item-image{
    transition: all .6s;
  }

  &__text-wrapper{
    position: relative;
    padding: 40px 20px;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  
  &__image-wrapper{
    width: 80%;
    min-width: 345px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
}

.link-wrapper{
  text-align: center;
}

.more-link{
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
}

.right-arrow::after{
  content: "";
	position: absolute;
  top:42%;
  right: 7px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  transition: all .3s;
}

.right-arrow:hover::after{
  right: 0px;
}

.works-sub-wrapper{
  width: 100%;
  position: relative;

  &::after{
    content: "";
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -1;
    // z-index: 0;
    display: block;
    background-color: $subColorB;
    top: 0;
  }
}

/* スライダー */
.slider{
  position: relative;
  height: 100%;
  width: 100%;
}

.slider-item{
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

/*矢印*/
.prev-arrow, 
.next-arrow {
  position:  absolute;
  z-index: 1;
  top: 45%;
  cursor: pointer;
  outline: none;
  font-weight:900;
	font-family:"Font Awesome 5 Free";
  font-size: 1.5rem;
  color: #333;
}

.prev-arrow {
  left:2.5%;
}

.next-arrow {
  right:2.5%;
}

.prev-arrow::before{
  content:"\f053";
}

.next-arrow::before{
	content:"\f054";
}

/* ドット */
.slick-dots{
	position:absolute;
	bottom:1%;
  text-align: right;
}

.blog-pr{
  text-align: center;
  width: 250px;
  margin: 0 auto 24px;
  position: relative;
  font-size: 16px;

  &:before, 
  &:after {
    content: '';
    position: absolute;
    top: 60%;
    display: inline-block;
    width: 32px;
    height: 3px;
    background-color: #333;
  }

  &:before {
    left: -8%;
    transform: rotate(60deg);
  }

  &:after {
    right: -8%;
    transform: rotate(-60deg);
  }

  &--under-line{
    background:linear-gradient(transparent 60%, #fff799 60%);
  }
}

.blog-banner{
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  transition: all .4s;
  &:hover{
    opacity: 0.8;
  }
}

@media (min-width: 575px){
  .works{
    &__item{
      width: 31%;
    }

    &__text-wrapper{
      padding: 60px 30px;
      flex:1;
    }
    
    &__image-wrapper{
      width: 50%;
    }
    
    &__item-wrapper--rev{
      flex-direction: row-reverse;
    }
  }

  .works-sub-wrapper{
    padding: 50px 4%;
    display: flex;
    align-items: center;
    margin: 0 auto 80px;

    &::after{
      width: 70%;
      height: 100%;
    }
  }

  .blog-pr{
    font-size: 20px;
    width: 300px;

    &:before, 
    &:after {
      width: 40px;
      height: 3px;
    }
  }

}

@media (min-width: 1000px){
  .works{
    &__item-wrapper{
      margin-bottom: 150px;
    }

    &__item{
      width: 31%;
    }
  }

  .works-sub-wrapper{
    padding: 50px 100px;
    max-width: 900px;
  }

}

/*-------------------------------------------- */
/* skills */
/* -------------------------------------------- */
.skills{
  // background-color: $mainColor;
}
.skills-wrapper{
  margin-bottom: 48px;
}

/* flexの補助用 */
.skills-container{
  align-items: start;
  flex-wrap:wrap;
}

/* sectionのタイトルを右よせ */
.rev{
  display: flex;
  flex-direction: column;
}

.section-heading__rev{
  align-self: flex-end;
}

/* 上の段 */
.skills{
  &__item-lists{
    margin-bottom: 40px;
    width: 100%;
  }
}

/* スキルのリスト */
.skill-list{

  &__image-wrapper{
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-bottom: 8px;
  }

  &__title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;

  }
  
  &__text{
    
  }
}

/* 下の段 */
.skill-set-list{
  width: 100%;
  margin-bottom: 32px;

  &__name{
    margin-bottom: 8px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
  }

  &__image{
    background: url(../images/wordpress_icon_130782.png) center/cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 8px;
  }

  &__explain{
    // color: #333333;
  }
}

@media (min-width: 575px){
  .skills-wrapper{
    margin-bottom: 80px;
  }

  /* 上の段 */
  .skills{
    &__item-lists{
      width: 49%;
    }
  }

  /* スキルセット */
  .skill-set-list{
    width: 48%;
    margin-bottom: 40px;

    &__name{
      margin-bottom: 12px;
    }

    &__image{
      width: 50px;
      height: 50px;
    }
  }
}

@media (min-width: 1000px){
  .skills{
    &__item-lists{
      width: 30%;
    }
  }

  /* スキルのリスト */
  .skill-list{
    &__title{
      font-size: 24px;
    }
  }

}

/*-------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact-text{
  max-width: 575px;
  width: 100%;
  margin: 0 auto 80px;
}


@media (min-width: 1000px){
  
}

/*-------------------------------------------- */
/* footer */
/* -------------------------------------------- */
footer{
  border-top: 3px solid $accentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7B7A7A;
  color: #ffffff;
  height: 70px;
  width: 100%;
  margin-top: auto;
}

.copy{
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.32)); /*font-size: 14px */
}

@media (min-width: 1000px){
  .copy{
    font-size: rem(14);
  }
  
}

/* -------------------------------------------- */
/* 記事ページ */
/* -------------------------------------------- */
.single{
  
  &__contents-wrapper{
  }

  &__article-title{
    text-align: center;
    margin-bottom: 32px;
    font-size: calc(1.5rem + ((1vw - 3.75px) * 2.9091));
  }

  &__image-wrapper{
    border: 2px solid #ddd;
    width:100%;
    margin-bottom: 40px;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
  }

  &__image{
    position: absolute;
    top:0;
  }

  &__list{
    margin-bottom: 24px;
  
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__list-title{
    font-weight: bold;
    margin-bottom: 4px;
    font-size: calc(1rem + ((1vw - 3.75px) * 0.4848));
  }

  &__list-content{
    color: #333;
  }
}

/* サイト名のリンク */
.cfs-hyperlink{
  color: #1B0DAB;
  display: inline-block;
  transition: all .4s;

  &:hover{
    opacity: .6;
  }

  &::after{
    content: "\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 4px;
  }
}

/* 製作のポイント */
.point-wrapper{

  .single__list-content{
    padding-left: 1.2em;
    text-indent: -1.2em;
  }

  .single__list-content:not(:last-child){
    margin-bottom: 8px;
  }
}

/* イメージ画像の大枠 */
.single__site-image-wrapper{
  margin-bottom: 80px;
}

/* pcでのイメージ */
.pc-image-wrapper{
  margin-bottom: 24px;
  .pc-image{
    display: none;
  }
}

/* spでのイメージ */
.sp-image-wrapper{
  margin-bottom: 24px;
  .sp-image{
    display: none;
  }
}

/* トグルボタン */
.toggle-btn{
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border: 2px solid #000;
  padding: 8px;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 8px;

  i{
    margin-right: 4px;
  }
}

/* 注釈 */
.click-open{
  font-size: rem(12);
  margin-bottom: 16px;
  color:#808080;
}
  
/* 記事ページ用ナビゲーション */
.pagination{
  display: flex;
  justify-content: space-between;
  min-width: 270px;
  max-width: 400px;
  width: 60%;
  margin: 0 auto;
}

.to-works,
.prev,
.next{
  a{
    display: block;
    transition: all .3s;
    padding: 0 0.5em;
    border-radius: 4px;
    &:hover{
      background: $accentColor;
      color: #333;
    }
  }

}

.pagination .fa-solid{
  padding: 4px;
}


// .post-navigation .nav-links{
  // display: flex;
  // justify-content: space-between;
  // position: relative;
  // width: 100%;

  // .nav-previous,
  // .nav-next{
  //   position: absolute;
  //   a{
  //     color: #333;
  //     border: 2px solid #000;
  //     background-color: #fff;
  //     display: inline-block;
  //     border-radius: 4px;
  //     padding: 0.5em 0.8em;
  //     transition: .3s;
  //     &:hover{
  //       background: #000;
  //       color: #fff;
  //     }
  //   }
  // }

  // .nav-previous{
  //   top: 0;
  //   left: 0;
  // }
  
  // .nav-next{
  //   top: 0;
  //   right: 0;

  // }
// }

@media (min-width: 575px) {
  .single{
    &__contents-wrapper{
    }
  
    &__article-title{
      margin-bottom: 40px;
    }

    &__list{
      margin-bottom: 32px;
    }
  }

  /* pcでのイメージ */
  .pc-image-wrapper{
    margin-bottom: 40px;
    width: 100%;
    .pc-image{
      display: block;
    }
  }

  /* pcでのイメージ */
  .sp-image-wrapper{
    margin-bottom: 40px;
    width: 50%;
    .sp-image{
      display: block;
    }
  }

  /* トグルボタン */
  .toggle-btn{
    transition: all .4s;
  
    &:hover{
      background: #000;
      color: #fff;
    }
  }

}

@media (min-width: 1000px) {
  .single{
    &__contents-wrapper{
    }
  
    &__article-title{
      font-size: rem(48);
    }
  }

  /* イメージ画像の大枠 */
  .single__site-image-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
  }

  /* pcでのイメージ */
  .pc-image-wrapper{
    margin-bottom: 0px;
    width: 70%;

    .pc-image{
      display: block;
    }
  }

  /* スマホでのイメージ */
  .sp-image-wrapper{
    margin-bottom: 0px;
    width: 28%;
  
    .sp-image{
      display: block;
      width: 100%;
    }
  }

  /* 注釈 */
  .click-open{
    font-size: rem(14);
    margin-bottom: 24px;
  }
  
}


/*-------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works-wrapper__archives .items{
  margin-bottom: 30px;
}

/* ページネーション */
.works__wrapper .pagination{
  width: 100%;
}

.works__wrapper .pagination .nav-links{
  display: flex;
  justify-content: space-between;
  min-width: 270px;
  width: 100%;
  margin: 0 auto;

  /* 数字のリンク */
  .page-numbers{
    display: inline-block;
    border-radius: 4px;
    padding: 0 0.5em;
    transition: .3s;

    /* 現在のページ */
    &.current{
      background-color: $accentColor;
      color: #333;
    }

    &:hover{
      background: $accentColor;
      color: #333;
    }
  }
  
}

@media (min-width: 575px){
  .works-wrapper__archives .items{
    margin-bottom: 80px;
  }

  .works{
    .pagination{
      margin-bottom: 80px;
    }
  }
}

@media (min-width: 1000px){
  
}

/* -------------------------------------------- */
/* プロフィールページ */
/* -------------------------------------------- */
.profile-wrapper{
  position: relative;
  margin: 0 auto 80px;
  // border: 1px solid #000;
}

.profile__sec-title{
  font-size: calc(2.5rem + ((1vw - 3.75px) * 7.0303));
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: $subColor;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  line-height: 1;
}

/* 自分について */
.about{

  &__text-lists{
    // width: 66%;
  }

  &__text-list{
    margin-bottom: 20px;
  }

  &__name{
    margin-bottom: 8px;
    font-size: calc(1rem + ((1vw - 3.75px) * 1.1034));
  }
}

/* 経歴 */
.career{

  &__list{
    position: relative;
    padding: 0 0 0 1.8em;

    &::before{
      content: " ";
      width: 2px;
      background: #333;
      display: block;
      position: absolute;
      top: 25px;
      left: 0.7em;
      bottom: 2px;
    }

    &:last-child::before{
      height: 60%;
    }
  }

  &__timeline{
    display: block;
    color: #808080;

    &::before{
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: $accentColor;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content{
    padding: 1.5em 0;
  }
}

.profile-wrapper--bg{
  border: 1px solid #000;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5))  ,url(../images/kanae.jpg) center/ cover no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hobby{
  color: #fff;
  font-size: 30px;

}

@media (min-width: 575px) {
  .profile-wrapper{
    margin-bottom: 120px;
  }
  
  /* 自分について */
  .about{
  
    &__text-list{
      margin-bottom: 30px;
    }

    &__name{
      margin-bottom: 16px;
    }
  }

}

@media (min-width: 1025px){
  .profile__sec-title{
    font-size: rem(98);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  /* 自分について */
  .about{
    &__text-list{
      width: 66%;
    }

    &__name{
      font-size: rem(24);
    }
  }
}

/*-------------------------------------------- */
/* お問い合わせ */
/* -------------------------------------------- */
.contact{
  // background: #000;
  // background-color: pink;
  // color: #fff;
}

.contact-page-text{
  margin-bottom: 32px;
}

.form-wrapper{
  width: 100%;
  margin: 0 auto;
}

.form-parts{
  color: #fff;
  margin: 0 auto 32px;
  width: 100%;

  &__label{
    position: absolute;
    display: inline-block;
    top: -6px;
    left: 45px;
    padding: 0 0.5em;
    line-height: 1;
    background-color: #000;
    font-weight: bold;
    z-index: 1;
  }
}

/* フォーム部品 */
.form-parts{
  input[type="text"],
  input[type="email"],
  textarea{
    width: 100%;
    display: block;
    padding: 1.5em 1em 1em;
    border: 1px solid transparent;
    background-color: inherit;
    color: inherit;

    &:focus{
      outline:#000;
      background-color: #000;
    }
  }

  textarea{
    height: 200px;
  }
}

.acceptance{
  margin-bottom: 80px;
}

.form-btn-wrapper{
  
}

/* 必須ボタン */
.must::before{
  content: "※";
}

/* contact form7用 */ 
/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip {
  padding-top: 0.5em;
  font-weight: 600;
  // display: block;

  &::before{
    content: "※";
  }
}

.wpcf7 form .wpcf7-response-output{
  color: #DD3232;
  font-weight: bold;
  margin: 0;
}


@media (min-width: 575px){
  .form-wrapper{
    max-width: 600px;
    margin: 0 auto;
  }

  .form-parts{
    margin-bottom: 40px;
  }

}

@media (min-width: 1000px){
  /* フォーム部品 */
  .form-parts{
    .title-label{
      font-size: rem(16);
    }

    input[type="text"],
    input[type="email"],
    textarea{
      font-size: 16px;
    }

    input[type="submit"] {
      font-size: 16px;
    }
  }

  .acceptance{
    margin-bottom: 80px;
  }
}

/*-------------------------------------------- */
/* 404ページ */
/* -------------------------------------------- */
/* 謝罪 */
.apolo{
  font-size: calc(1.25rem + ((1vw - 3.75px) * 4.48));
  margin-bottom: 32px;
}

/* topページへのリンク */
.top-link{
  margin-bottom: 20px;
  a{
    color: #1B0DAB;;
    transition: all .4s;
    text-decoration: underline;
    &:hover{
      opacity: .7;
    }
  }
}

/* 画像 */
.kbyt-image{
  width: 50%;
  text-align: center;
  margin: 0 auto 10px;
}

/* セリフ */
.rpg-serif{
  font-family: 'DotGothic16', sans-serif;
  font-size: calc(1.125rem + ((1vw - 3.75px) * 1.92));
  color: #fff;
  padding: 1.5em 1em;
}

@media (min-width: 1000px){
  /* セリフ */
  .rpg-serif{
    font-size: rem(30);
  }

  /* 謝罪 */
  .apolo{
    font-size: rem(48);
  }
}

/*-------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
@media (min-width: 1000px){

}




