@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------- */
/* リセットCSS */
/* -------------------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  border-radius: 0;
}

input[type="text"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
/* font-size */
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 4%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.15em;
  position: relative;
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.32));
  /* font-size:14px */
}

.main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

section {
  width: 100%;
  padding: 50px 0 80px;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 575px) {
  section {
    padding: 90px 0 150px;
  }
}

@media (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    width: calc(100% - 300px);
  }
  body {
    font-size: 1rem;
  }
  section {
    padding: 90px 0 150px;
  }
}

/* -------------------------------------------- */
/* パーツ */
/* -------------------------------------------- */
/* sectionのタイトル */
.section-heading {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: calc(2.5rem + ((1vw - 3.75px) * 8));
  /* font-size: 40px */
  margin-bottom: 50px;
}

/* sectionタイトルの日本語タイトル */
.jp-title {
  font-size: calc(1rem + ((1vw - 3.75px) * 0.64));
  /* font-size: 16px */
  display: block;
}

/* セクションのサブタイトル */
.sub-title {
  font-weight: bold;
  font-size: calc(1.25rem + ((1vw - 3.75px) * 1.28));
  /* font-size: 20px */
}

/* sectionの背景 */
section::before {
  content: "";
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ボタン */
.btn-wrapper {
  text-align: center;
}

.btn {
  min-width: 200px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #333333;
  background: transparent;
  line-height: 1;
}

.btn::before,
.works__more-btn::before {
  content: "\f0da";
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}

.btn::after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #D8D8D8;
}

.btn:hover:after {
  top: 0;
  left: 0;
}

@media (min-width: 575px) {
  .section-heading {
    margin-bottom: 90px;
  }
  section::before {
    height: 140px;
  }
}

@media (min-width: 1000px) {
  .section-heading {
    font-size: 5.625rem;
  }
  .jp-title {
    font-size: 1.25rem;
  }
  .sub-title {
    font-size: 1.75rem;
  }
  section::before {
    height: 160px;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* sp用header */
.sp-header {
  background-color: #E5E5E5;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 70px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/* header内のサイトタイトル */
.header-site-title {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* ハンバーガーメニュー */
.burger {
  width: 30px;
  height: 30px;
  position: relative;
  position: fixed;
  top: 2%;
  right: 4%;
  cursor: pointer;
  z-index: 2;
}

/* ハンバーガーメニューのバー */
.bar {
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10%;
}

.burger.active .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 10%;
}

/* bodyにactiveクラスが着いた時 */
body.active {
  overflow-y: hidden;
}

.bar.colorChange {
  background-color: #ffffff;
}

/* ナビメニューにactiveクラスが着いた時 */
#nav.active {
  left: 0;
}

/* pc用header */
.pc-header {
  display: none;
}

@media (min-width: 575px) {
  /* sp用header */
  .sp-header {
    height: 100px;
  }
  /* ハンバーガーメニュー */
  .burger {
    top: 4%;
  }
  /* header内のサイトタイトル */
  .header-site-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  /* sp用header */
  .sp-header {
    display: none;
  }
  /* pc用のheader */
  .pc-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #cbcbd3;
    padding-top: 90px;
    width: 300px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* header内のサイトタイトル */
  .header-site-title {
    font-size: 1.5rem;
    margin-bottom: 70px;
    padding: 0 20px;
  }
  .header-site-title--link {
    display: inline-block;
  }
}

/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
/* スマホのナビメニュー全体 */
.sp-nav {
  background-color: #e0b2ba;
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -150%;
  -webkit-transition: .5s;
  transition: .5s;
  overflow-y: scroll;
  z-index: 1;
  font-size: 1rem;
}

.sp-nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ナビのリンク */
.nav-link {
  font-weight: bold;
  padding: 1em;
}

.nav-link:first-child {
  padding-top: 0;
}

/* スクリーン */
#screen {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 1000px) {
  .cursor {
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-right: 5px;
  }
}

/*-------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mv {
  height: 100vh;
  background: url("../images/AdobeStock_372717887.jpeg") center/cover no-repeat;
}

/*-------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works__item-wrapper {
  width: 100%;
}

.works__item-wrapper--text-align {
  text-align: center;
}

.works__item-wrapper:not(:last-child) {
  margin-bottom: 60px;
}

.works__sub-title {
  position: relative;
  border-bottom: 3px solid #000;
  display: inline-block;
  margin-bottom: 10px;
}

.works__sub-title::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #8d8d8d;
  bottom: -3px;
  width: 30%;
}

.works__text--mb {
  margin-bottom: 20px;
}

.works__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.works__item {
  width: 100%;
  margin-bottom: 30px;
}

.works__item-image-wrapper {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.works__item-image {
  -webkit-transition: all .6s;
  transition: all .6s;
}

.works__text-wrapper {
  position: relative;
  padding: 40px 20px;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.works__more-btn {
  margin-top: 20px;
  font-weight: bold;
}

.works__image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.works-sub-wrapper {
  width: 100%;
  position: relative;
}

.works-sub-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: block;
  background-color: #f0f0f0;
  top: 0;
}

/* スライダー */
.slider {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider-item {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

/*矢印*/
.prev-arrow,
.next-arrow {
  position: absolute;
  z-index: 1;
  top: 45%;
  cursor: pointer;
  outline: none;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  color: #333;
}

.prev-arrow {
  left: 2.5%;
}

.next-arrow {
  right: 2.5%;
}

.prev-arrow::before {
  content: "\f053";
}

.next-arrow::before {
  content: "\f054";
}

/* ドット */
.slick-dots {
  z-index: 1;
  position: absolute;
  bottom: 1%;
  text-align: right;
}

.blog-link {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.blog-link:hover {
  opacity: 0.8;
}

@media (min-width: 575px) {
  .works__item {
    width: 31%;
  }
  .works__text-wrapper {
    padding: 60px 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .works__image-wrapper {
    width: 50%;
  }
  .works__item-wrapper--rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .works-sub-wrapper {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .works-sub-wrapper::after {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .works__item-wrapper:not(:last-child) {
    margin-bottom: 150px;
  }
  .works__sub-title {
    margin-bottom: 20px;
  }
  .works__text--mb {
    margin-bottom: 40px;
  }
  .works__item {
    width: 31%;
  }
}

/*-------------------------------------------- */
/* skills */
/* -------------------------------------------- */
.skills__item-wrapper {
  margin-bottom: 20px;
}

.skills__item-lists {
  margin-bottom: 60px;
}

/* sectionのタイトルを右よせ */
.rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-heading__rev {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* スキルのリスト */
.skill-list__image-wrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 16px;
}

.skill-list__title {
  margin-bottom: 16px;
}

@media (min-width: 575px) {
  .skills__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .skills__item-lists {
    width: 49%;
  }
}

@media (min-width: 1000px) {
  .skills__item-lists {
    width: 30%;
  }
}

/*-------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact-text {
  max-width: 575px;
  width: 100%;
  margin: 0 auto 60px;
}

/*-------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7B7A7A;
  color: #ffffff;
  height: 70px;
  width: 100%;
  margin-top: auto;
}

.copy {
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.32));
  /*font-size: 14px */
}

@media (min-width: 1000px) {
  .copy {
    font-size: 0.875rem;
  }
}

/*-------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
/*# sourceMappingURL=styles.css.map */