@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------- */
/* リセットCSS */
/* -------------------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  border-radius: 0;
}

input[type="text"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
/* font-size */
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 4%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.15em;
  position: relative;
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.32));
  /* font-size:14px */
}

.main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

section {
  width: 100%;
  padding: 50px 0 80px;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 575px) {
  section {
    padding: 90px 0 150px;
  }
}

@media (min-width: 1000px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    width: calc(100% - 300px);
  }
  body {
    font-size: 1rem;
  }
  section {
    padding: 90px 0 150px;
  }
}

/* -------------------------------------------- */
/* パーツ */
/* -------------------------------------------- */
.heading {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: calc(2.5rem + ((1vw - 3.75px) * 8));
  /* font-size: 40px */
}

/* sectionのタイトル */
.section-heading {
  margin-bottom: 50px;
}

/* sectionタイトルの日本語タイトル */
.jp-title {
  font-size: calc(1rem + ((1vw - 3.75px) * 0.64));
  /* font-size: 16px */
  display: block;
}

/* セクションのサブタイトル */
.sub-title {
  font-weight: bold;
  font-size: calc(1.25rem + ((1vw - 3.75px) * 1.28));
  /* font-size: 20px */
  margin-bottom: 20px;
}

/* 下線付きのサブタイトル */
.sub-title--border {
  position: relative;
  border-bottom: 3px solid #000;
  display: inline-block;
}

.sub-title--border::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #8d8d8d;
  bottom: -3px;
  width: 30%;
}

/* sectionの背景 */
.top-page-sec::before {
  content: "";
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ボタン */
.btn-wrapper {
  text-align: center;
}

.btn {
  min-width: 200px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #333333;
  background: transparent;
  line-height: 1;
}

.btn::before,
.works__more-btn::before {
  content: "\f0da";
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  margin-right: 8px;
}

.btn::after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #D8D8D8;
}

.btn:hover:after {
  top: 0;
  left: 0;
}

.page-heading {
  text-align: center;
  padding: 0 30px 30px;
}

/* パンクズリスト */
.breadcrumbs {
  color: #333;
  padding: 1em 0;
  background-color: #ddd;
  margin-bottom: 30px;
}

.breadcrumbs .breadcrumb_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs .breadcrumb_inner .fa-angle-right {
  padding: 0 0.5em;
}

.breadcrumbs .breadcrumb_inner span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs .breadcrumb_inner span i {
  margin-right: 0.3em;
}

.breadcrumbs .breadcrumb_inner a {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.breadcrumbs .breadcrumb_inner a:hover {
  opacity: .6;
}

@media (min-width: 575px) {
  .section-heading {
    margin-bottom: 90px;
  }
  .top-page-sec::before {
    height: 140px;
  }
  /* パンクズリスト */
  .breadcrumbs {
    margin-bottom: 70px;
  }
}

@media (min-width: 1000px) {
  .heading {
    font-size: 5.625rem;
  }
  .jp-title {
    font-size: 1.25rem;
  }
  .sub-title {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .top-page-sec::before {
    height: 160px;
  }
  .page-heading {
    padding-bottom: 50px;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* header内のサイトタイトル */
.header-site-title {
  font-family: 'Montserrat', sans-serif;
}

/* ハンバーガーメニュー */
.burger {
  width: 30px;
  height: 30px;
  position: relative;
  position: fixed;
  top: 2%;
  right: 4%;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar {
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10%;
}

.burger.active .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 10%;
}

/* bodyにactiveクラスが着いた時 */
body.active {
  overflow-y: hidden;
}

.bar.colorChange {
  background-color: #ffffff;
}

/* ナビメニューにactiveクラスが着いた時 */
#nav.active {
  left: 0;
}

/* pc用header */
.pc-header {
  display: none;
}

@media (min-width: 575px) {
  /* header内のサイトタイトル */
  .header-site-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  /* sp用header */
  .burger {
    display: none;
  }
  /* pc用のheader */
  .pc-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #cbcbd3;
    padding-top: 90px;
    width: 300px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* header内のサイトタイトル */
  .header-site-title {
    font-size: 1.5rem;
    margin-bottom: 70px;
    padding: 0 20px;
  }
  .header-site-title--link {
    display: inline-block;
  }
}

/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
/* スマホのナビメニュー全体 */
.sp-nav {
  background-color: #e0b2ba;
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -150%;
  -webkit-transition: .5s;
  transition: .5s;
  overflow-y: scroll;
  z-index: 2;
  font-size: 1rem;
}

.sp-nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ナビのリンク */
.nav-link {
  font-weight: bold;
  padding: 1em;
}

.nav-link:first-child {
  padding-top: 0;
}

/* スクリーン */
#screen {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 1000px) {
  .cursor {
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-right: 5px;
  }
}

/*-------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mv {
  height: 100vh;
  background: url("../images/AdobeStock_372717887.jpeg") center/cover no-repeat;
}

/*-------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works__item-wrapper {
  width: 100%;
}

.works__item-wrapper--text-align {
  text-align: center;
}

.works__item-wrapper:not(:last-child) {
  margin-bottom: 60px;
}

.works__text--mb {
  margin-bottom: 20px;
}

.works__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.works__item {
  width: 100%;
  margin-bottom: 30px;
}

.works__item-image-wrapper {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.works__item-image {
  -webkit-transition: all .6s;
  transition: all .6s;
}

.works__text-wrapper {
  position: relative;
  padding: 40px 20px;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.works__image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.btn-wrapper__left {
  text-align: left;
  margin-top: 20px;
}

.works-sub-wrapper {
  width: 100%;
  position: relative;
}

.works-sub-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: block;
  background-color: #f0f0f0;
  top: 0;
}

/* スライダー */
.slider {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider-item {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

/*矢印*/
.prev-arrow,
.next-arrow {
  position: absolute;
  z-index: 1;
  top: 45%;
  cursor: pointer;
  outline: none;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  color: #333;
}

.prev-arrow {
  left: 2.5%;
}

.next-arrow {
  right: 2.5%;
}

.prev-arrow::before {
  content: "\f053";
}

.next-arrow::before {
  content: "\f054";
}

/* ドット */
.slick-dots {
  z-index: 1;
  position: absolute;
  bottom: 1%;
  text-align: right;
}

.blog-link {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.blog-link:hover {
  opacity: 0.8;
}

@media (min-width: 575px) {
  .works__item {
    width: 31%;
  }
  .works__text-wrapper {
    padding: 60px 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .works__image-wrapper {
    width: 50%;
  }
  .works__item-wrapper--rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .works-sub-wrapper {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .works-sub-wrapper::after {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .works__item-wrapper:not(:last-child) {
    margin-bottom: 150px;
  }
  .works__text--mb {
    margin-bottom: 40px;
  }
  .works__item {
    width: 31%;
  }
}

/*-------------------------------------------- */
/* skills */
/* -------------------------------------------- */
.skills-wrapper {
  margin-bottom: 30px;
}

/* flexの補助用 */
.skills-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* sectionのタイトルを右よせ */
.rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-heading__rev {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* 上の段 */
.skills__item-lists {
  margin-bottom: 40px;
  width: 100%;
}

/* スキルのリスト */
.skill-list__image-wrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 10px;
}

.skill-list__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

/* 下の段 */
.skill-set-list {
  width: 100%;
  margin-bottom: 30px;
}

.skill-set-list__name {
  margin-bottom: 8px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.skill-set-list__image {
  background: url(../images/wordpress_icon_130782.png) center/cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 8px;
}

@media (min-width: 575px) {
  .skills-wrapper {
    margin-bottom: 80px;
  }
  /* 上の段 */
  .skills__item-lists {
    width: 49%;
  }
  /* スキルセット */
  .skill-set-list {
    width: 48%;
    margin-bottom: 40px;
  }
  .skill-set-list__name {
    margin-bottom: 12px;
  }
  .skill-set-list__image {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1000px) {
  .skills__item-lists {
    width: 30%;
  }
  /* スキルのリスト */
  .skill-list__title {
    font-size: 24px;
  }
}

/*-------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact-text {
  max-width: 575px;
  width: 100%;
  margin: 0 auto 60px;
}

/*-------------------------------------------- */
/* footer */
/* -------------------------------------------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7B7A7A;
  color: #ffffff;
  height: 70px;
  width: 100%;
  margin-top: auto;
}

.copy {
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.32));
  /*font-size: 14px */
}

@media (min-width: 1000px) {
  .copy {
    font-size: 0.875rem;
  }
}

/* -------------------------------------------- */
/* 記事ページ */
/* -------------------------------------------- */
.single__article-title {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-size: calc(1.5rem + ((1vw - 3.75px) * 2.9091));
}

.single__image-wrapper {
  border: 2px solid #ddd;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.single__image {
  position: absolute;
  top: 0;
}

.single__list {
  margin-bottom: 16px;
}

.single__list:last-child {
  margin-bottom: 0;
}

.single__list-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: calc(1rem + ((1vw - 3.75px) * 0.4848));
}

.single__list-content {
  color: #333;
}

/* サイト名のリンク */
.cfs-hyperlink {
  color: #1B0DAB;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.cfs-hyperlink:hover {
  opacity: .6;
}

.cfs-hyperlink::after {
  content: "\f35d";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left: 4px;
}

/* 製作のポイント */
.point-wrapper .single__list-content {
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.point-wrapper .single__list-content:not(:last-child) {
  margin-bottom: 8px;
}

/* イメージ画像の大枠 */
.single__site-image-wrapper {
  margin-bottom: 64px;
}

/* pcでのイメージ */
.pc-image-wrapper {
  margin-bottom: 24px;
}

.pc-image-wrapper .pc-image {
  display: none;
}

/* spでのイメージ */
.sp-image-wrapper {
  margin-bottom: 24px;
}

.sp-image-wrapper .sp-image {
  display: none;
}

/* トグルボタン */
.toggle-btn {
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border: 2px solid #000;
  padding: 8px;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 8px;
}

.toggle-btn i {
  margin-right: 4px;
}

/* 注釈 */
.click-open {
  font-size: 0.75rem;
  margin-bottom: 16px;
  color: #333;
}

/* 記事ページ用ナビゲーション */
.post-navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

.post-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-next {
  position: absolute;
}

.post-navigation .nav-links .nav-previous a,
.post-navigation .nav-links .nav-next a {
  color: #333;
  border: 2px solid #000;
  background-color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 0.5em 0.8em;
  -webkit-transition: .3s;
  transition: .3s;
}

.post-navigation .nav-links .nav-previous a:hover,
.post-navigation .nav-links .nav-next a:hover {
  background: #000;
  color: #fff;
}

.post-navigation .nav-links .nav-previous {
  top: 0;
  left: 0;
}

.post-navigation .nav-links .nav-next {
  top: 0;
  right: 0;
}

@media (min-width: 575px) {
  .single__article-title {
    margin-bottom: 40px;
  }
  .single__list {
    margin-bottom: 32px;
  }
  /* pcでのイメージ */
  .pc-image-wrapper {
    margin-bottom: 40px;
  }
  .pc-image-wrapper .pc-image {
    display: block;
  }
  /* pcでのイメージ */
  .sp-image-wrapper {
    margin-bottom: 40px;
    width: 50%;
  }
  .sp-image-wrapper .sp-image {
    display: block;
  }
  /* トグルボタン */
  .toggle-btn {
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .toggle-btn:hover {
    background: #000;
    color: #fff;
  }
}

@media (min-width: 1000px) {
  .single__article-title {
    margin-bottom: 40px;
    font-size: 3rem;
  }
  /* イメージ画像の大枠 */
  .single__site-image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 128px;
  }
  /* pcでのイメージ */
  .pc-image-wrapper {
    margin-bottom: 0px;
    width: 70%;
  }
  .pc-image-wrapper .pc-image {
    display: block;
  }
  /* スマホでのイメージ */
  .sp-image-wrapper {
    margin-bottom: 0px;
    width: 28%;
  }
  .sp-image-wrapper .sp-image {
    display: block;
    width: 100%;
  }
  /* 注釈 */
  .click-open {
    font-size: 0.875rem;
    margin-bottom: 24px;
  }
}

/*-------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works-wrapper__archives .items {
  margin-bottom: 30px;
}

/* ページネーション */
.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  /* 数字のリンク */
}

.pagination .nav-links .page-numbers {
  color: #333;
  background-color: #fff;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 4px;
  padding: 0.5em 0.8em;
  -webkit-transition: .3s;
  transition: .3s;
  /* 現在のページ */
}

.pagination .nav-links .page-numbers.current {
  background-color: #000;
  color: #fff;
}

.pagination .nav-links a:hover {
  background: #000;
  color: #fff;
}

@media (min-width: 575px) {
  .works-wrapper__archives .items {
    margin-bottom: 80px;
  }
  .works .pagination {
    margin-bottom: 80px;
  }
}

/* -------------------------------------------- */
/* プロフィールページ */
/* -------------------------------------------- */
.profile-wrapper {
  margin-bottom: 80px;
}

.profile-sub-title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

/* 自分について */
.about {
  /* 自己紹介 */
}

.about__text-list:not(:last-child) {
  margin-bottom: 20px;
}

.about__name {
  margin-bottom: 8px;
  font-size: calc(1rem + ((1vw - 3.75px) * 1.1034));
}

/* 経歴 */
.career__list {
  position: relative;
  padding: 0 0 0 1.8em;
}

.career__list::before {
  content: " ";
  width: 2px;
  background: #3333;
  display: block;
  position: absolute;
  top: 25px;
  left: 0.7em;
  bottom: 2px;
}

.career__list:last-child::before {
  height: 60%;
}

.career__timeline {
  display: block;
  color: #808080;
}

.career__timeline::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #808080;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.career__content {
  padding: 1.5em 0;
}

@media (min-width: 575px) {
  .profile-wrapper {
    margin-bottom: 100px;
  }
  /* 自分について */
  .about__text-list:not(:last-child) {
    margin-bottom: 30px;
  }
  .about__name {
    margin-bottom: 16px;
  }
}

@media (min-width: 1025px) {
  .profile-sub-title {
    font-size: 2rem;
  }
  /* 自分について */
  .about__name {
    font-size: 1.5rem;
  }
}

/*-------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
/*# sourceMappingURL=styles.css.map */